table
{
border-collapse: collapse;
text-align: center;
font-family: georgia;
font-size: 15px;
line-height: 50px;
width: 30%;
}

td, th
{
border: 1px solid black;
text-align: left;
margin-left: 2px;
}
th
{
  text-align: center;
}
